@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "./heroui.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Custom, global styling for the lucide icons react components. Added to the
tailwind "base" layer so that the utility classes can override this default
styling. */
@layer base {

  .lucide {
    width: 1em;
    height: 1em;
  }
}
